---
import { Button } from './ui/button';
import { Check, Copy } from "lucide-react"
import { Input } from './ui/input';
import { Label } from './ui/label';

export interface Props {
    id: string;
    label: string;
    value: string;
    placeholder?: string;
    onChange?: string;
    autoFocus?: boolean;
    description?: string;
}

const {
    id,
    label,
    value = "",
    placeholder = "Enter text here...",
    onChange = "",
    autoFocus = false,
    description = "",
} = Astro.props;
---

<div class="textfield">
    <div class="grid gap-2">
        <div class="flex">
            <Label htmlFor={id}>{label}</Label>
        </div>

        <div class="input-copy flex gap-2">
            <Input
                type="text"
                id={id}
                name={id}
                placeholder={placeholder}
                autoComplete="off"
                autoCorrect="off"
                autoCapitalize="off"
                spellCheck="false"
                data-value={value}
                autoFocus={autoFocus}
                aria-label={label}
            />{value}
            <Button
                variant="outline"
                className="copy-btn"
                data-copy-id={id}
                aria-label={`Copy ${label} text`}
                title="Copy to clipboard"
            >
                <Copy className="h-4 w-4" />
            </Button>
            <Button
                variant="outline"
                className="copy-success hidden"
                aria-label={`Copy ${label} text`}
                title="Copy to clipboard"
            >
                <Check className="h-4 w-4 text-green-600" />
            </Button>
        </div>
    </div>
</div>